<section id="info" class="mb-8">
    <h2 class="text-2xl font-bold mb-4">Unidad Educativa Particular "Julio Maria Matovelle"</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="bg-yellow-200 p-4">
            <h3 class="font-bold">1</h3>
            <p>La historia de la Unidad Educativa "Julio María Matovelle" se remonta al 17 de mayo de 1993, cuando el Mons.
                Jacinto Zaráuz, Obispo de Azogues, dio su respaldo para la creación de este centro educativo. El primer año
                lectivo 1993-1994 contó con 32 estudiantes que iniciaron su formación académica y cristiana bajo la guía de
                las Religiosas Oblatas de los CC. SS. de Jesús y María.</p>
        </div>
        <div class="bg-yellow-200 p-4">
            <h3 class="font-bold">2</h3>
            <p>Nuestra institución se ha caracterizado por ofrecer una educación de calidad, con objetivos definidos y
                adaptados a las exigencias del siglo XXI, buscando siempre una mayor equidad en el acceso y la permanencia
                de los estudiantes. Este prestigio se debe al trabajo de las religiosas oblatas que han liderado la
                institución, de generación en generación, dejando un legado de compromiso humano, evangelización y
                gestión eficaz.</p>
        </div>
        <div class="bg-yellow-200 p-4">
            <h3 class="font-bold">!Somos una historia de sueños hechos realidad! !Matovelle por siempre!</h3>
            <p>Por lo mencionado, asumimos el compromiso de seguir creciendo en beneficio de toda la comunidad educativa,
                la sociedad y la iglesia católica, bajo los preceptos de nuestro patrono el padre Julio María
                Matovelle.</p>
        </div>
    </div>
</section>
<footer class="bg-yellow-200 text-black p-4 text-center">
    <p>&copy; 2024 UNIDAD EDUCATIVA PARTICULAR "LAS PENCAS"</p>
</footer>